<%= form_with(model: event, local: true,data: {controller: "places", action: "google-maps-callback@window->places#initMap"}) do |form| %>


<div class="field">
 <%= form.label 'Address' %>                                                                                                                                                                                        
 <%= form.text_field :address,class: 'form-control', placeholder: "Enter your address", data: { target: "places.field"} %>                                                                                                                      
</div>

<div class="field">
 <%= form.label 'Latitude' %>
 <%= form.text_field :latitude, class: 'form-control',data: { target: "places.latitude" } %>
</div>

<div class="field">
 <%= form.label 'Longitude' %>
 <%= form.text_field :longitude, class: 'form-control' ,data: { target: "places.longitude" } %>
</div>

<br>
<br>
<div data-target="places.map" style="height:400px"></div>


<% end %>
