<%= form_with(model: @event,url: adminverifyevent_path(@event),method: "patch",local: true) do |f| %>

<br><br>
<div class="ui raised very padded text container segment">

<h2 class="ui green header">
Verify this Event 
</h2>

<div class="field">
          <label>Event Name</label>
<br>

<div class="ui input">          
           <%= f.text_field :event_name, disabled: true, size: "50x1" %>
</div>          
        </div>



<br>


<div class="field">
          <label>Event Date</label>
<br>

<div class="ui disabled input">
           <%= f.text_field :event_date, disabled: true, size: "50x1" %>                                                                                                                                                         
</div>
</div>

<br>
                                                                                                                                                                                                                  
<div class="field">
          <label>Category : </label><a class="ui green label"><%= @event.category.name %></a>

                                                                                                                               
</div>
                                                                                                                                                                                                                   





<br>
                                                                                                                                                                                                                   
<div class="field">
          <label>Additional Info</label>
<br>

<div class="ui input">
           <%= f.text_area :add_info,disabled: true, size: "53x5" %>                                                                                                                                          
</div>
</div>
                                                                                                                                                                                                                   
<br>



    <div class="field">
          <label>Event Time</label>                                                                                                                                                                                                               <div class="field">                                                                                                                                                                                                          <label>Additional Info</label>                                                                                                                                                                          
 <br>

<div class="ui input">
           
<%= f.text_field :event_time, disabled: true, size: "50x1" %>                                                                                                                                             
</div>                                                                                                                                                                                                             
</div>


 <br>

<div class="field">
          <label>Proof of Event</label>
<br>
<div class="ui input">

<%= f.text_field :proof, disabled: true, size: "50x1" %>
</div>
</div>
&nbsp;<%= link_to "Visit Events's Site", "http://#{@event.proof}" , :target => "_blank" %>

<br>
<hr>
<h3 class="ui green header">
Update these details
</h2>
<div class="field">                                                                                                                                                                                                          
<label>Location</label>                                                                                                                                                                           
 <br>
<div class="ui input">

<%= f.text_field :location,placeholder: "Enter location of event", size: "50x1" %>
</div>
</div>



<br>
<div class="field">                                                                                                                                                                                               
<label>Google Maps Link</label>
 <br>
<div class="ui input">                                                                                                                                                                                             
<%= f.text_field :gmaps_link,placeholder: "Enter Google Maps Link of Location", size: "50x1" %>
</div>
</div>



<br>

<div class="field">                                                                                                                                                                                          
<label>Longitude</label>                                                                                                                                                                                        <br>
<div class="ui input">                                                                                                                                                                                             
<%= f.text_field :long,placeholder: "Enter Longitude of address", size: "50x1" %>
</div>
</div>


<br>

<div class="field">                                                                                                                                                                                               
 <label>Latitude</label>                                                                                                                                                                                        <br>
<div class="ui input">                                                                                                                                                                                            
 <%= f.text_field :lang,placeholder: "Enter Latitude of address", size: "50x1" %>
</div>
</div>



<br>





<br>





<div class="actions">
    <%= f.submit "Verify", class: 'ui primary button', :method=> "adminupdateevent" %>
  </div>

 
<% end %>
&nbsp;<%= link_to "Back", unverifiedevents_path %>

</div>
