<div class="ui medium inverted menu">
<div class="ui container">
  <%= link_to "Galookup", root_path, class: "item" %>
  
<div class="ui dropdown item">
      Browse <i class="dropdown icon"></i>
      <div class="menu">
<div class="ui inverted segment">
<div class="item"><%= link_to "All Clubs", users_path %></div>
</div>
</div>
    </div>




<div class="ui dropdown item">
      Submit <i class="dropdown icon"></i>
      <div class="menu">
<div class="ui inverted segment">
<div class="item"><%= link_to "New Event",  new_event_path %></div>
</div>
</div>
    </div>




<div class="ui dropdown item">
      Events <i class="dropdown icon"></i>
      <div class="menu">
<div class="ui inverted segment">
<div class="item"><%= link_to "All Categories", categories_path %></div>
<% Category.all.each do |category| %>
<div class="item"><%= link_to category.name, category_path(category) %></div>
<% end %>







<% if user_signed_in? and current_user.admin? %>

<div class="item">
        <%= link_to "Create new Category", new_category_path %>
        </div>

<% end %>

</div>
</div>
</div>

<% if user_signed_in? and current_user.admin? %>

<div class="ui dropdown item">                                                                                                                                                                                           
Verify <i class="dropdown icon"></i>                                                                                                                                                                              
 <div class="menu">                                                                                                                                                                                          
 <div class="ui inverted segment">                                                                                                                                                                                 
 <div class="item"><%= link_to "Verify Clubs",  unverifiedclubs_path %></div>
 <div class="item"><%= link_to "Verify Events", unverifiedevents_path %></div>                                                                                                                                                
</div>                                                                                                                                                                                                            
 </div>                                                                                                                                                                                                                
 </div> 



<% end %>









  <div class="right menu">
<% if current_user %>
    <a class="item">
<i class="circular user icon"></i>
<%= current_user.full_name %>  
</a>


<div class="ui dropdown item">
      Your Profile <i class="dropdown icon"></i>
      <div class="menu">
<div class="ui inverted segment">
<div class="item"><%= link_to "Edit Account", edit_user_registration_path %></div>
<% if !current_user.club_verified? %>
<div class="item"><%= link_to "Verify Club", verifyclub_path(current_user) %></div>
<% end %>





</div>
</div>
    </div>



<div class="item">
        
<%= link_to "Logout", destroy_user_session_path,class: "ui inverted red button", method: :delete %>

    </div>


<% else %>

<div class = "item">

<%= link_to "Login / Signup", new_user_session_path,class: "ui inverted green button" %>
</div>





<% end %>
  </div>
</div>
</div>
