<!DOCTYPE html>
<html>
  <head>
    <title>Galookup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<%= render 'layouts/nav' %>    
<center>
<div class="ui container">

<% if notice %>

<a class="ui green tag label"><p class="notice"><%= notice %></p></a>
<% end %>
<% if alert %>
<a class="ui green tag label"><p class="alert"><%= alert %></p></a>
<% end %>
</div>
</center>
<%= yield %>
    
  </body>
</html>
