<!DOCTYPE html>
<html>
  <head>


<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css" rel="stylesheet" type="text/css" />
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>


<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">


<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


    <title>Galookup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>




    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<%= render 'layouts/nav' %>    
<center>
<div class="ui container">

<% if notice %>

<a class="ui green tag label"><p class="notice"><%= notice %></p></a>
<% end %>
<% if alert %>
<a class="ui green tag label"><p class="alert"><%= alert %></p></a>
<% end %>
</div>
</center>
<%= yield %>
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>    
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> 
 </body>
</html>
